<div class="container-full">
  <div class="row">
    <div class="col-lg-12 text-center v-center">
      <h1>About Us</h1>
 		<div class="col-md-8 col-md-offset-2 justified">	   
 			<h1 class="lato-section-header">Justice with Zariya</h1>
	Redress and recovery for a survivor is much more than just legal justice. When a woman faces domestic or sexual violence, her physical, social, emotional, intellectual and psychological well-being is hurt. Zariya’s justice is a process with which women can work through the legal, social and psychological hurdles of rebuilding their life after a traumatizing experience.  <br/>



<h1 class="lato-section-header">zariyamission</h1>
Guide women who have faced gender-based violence in rebuilding their lives.<br/>

Increase the reporting rate to bring it closer to the actual number of incidences.<br/>

Produce knowledge and data that can be used by women, academics and policy-makers alike.<br/>

<h1 class="lato-section-header">zariyavision</h1>

Challenge the stigma and logistical barriers to reporting sexual or domestic violence.<br/>

Cultivate a safe space for women to report their experiences and demand justice.<br/>

Bring all the organs and services that can help a woman to one hub.<br/>

<h1 class="lato-section-header">zariyavalues</h1>

Situate the problems & needs of the survivor at the center of the justice process.<br/>

Reduce emotional re-traumatization and re-rape experienced when reporting to insensitive and unsympathetic listeners.<br/>

Facilitate robust transparency and accountability that is powerful enough to have a crime deterrence effect.<br/>
    </div>
    </div>
  </div>
</div>     
      
