<div class="container-full">
  <div class="row">
    <div class="col-lg-12 text-center v-center">
      <h1>Developer Center</h1>
 		<div class="col-md-8 col-md-offset-2 justified">	   
 			<a href="#submitReport"><h1 class="lato-section-header">Submitting A Report</h1></a>
			Submit data which is required to report an incident
			<h1 class="lato-section-header">Request URL</h1>
			POST: <a href="http://54.186.110.31/submitReport">http://54.186.110.31/submitReport</a> <br/>
			<h1 class="lato-section-header">Request parameters</h1>
			<table class="table table-striped table-bordered table-condensed">
 			<thead>
        	<tr>
	            <th>Parameter</th>
	            <th>Value</th>
	            <th>Description</th>
	            <th>Required</th> 
        	</tr>
    		</thead>
    		<tbody>
	        <tr>
	            <td>person</td>
	            <td>ENUM: <br/>SURVIVOR, FRIEND_OF_SURVIVOR, RELATIVE_OF_SURVIVOR, NOT_RELATED<br/>This field takes one of the above mentioned values</td>
	            <td>This is to get more information about the person</td>
	            <td>YES</td>
	        </tr>
	        <tr>
	            <td>doYouKnow</td>
	            <td>ENUM: <br/>Y, N<br/>This field takes one of the above mentioned values</td>
	            <td>This is to get more information about the person</td>
	            <td>YES</td>
	        </tr>
	        <tr>
	            <td>firstTimeCrime</td>
	            <td>ENUM: <br/>Y, N, X<br/>This field takes one of the above mentioned values</td>
	            <td>Setting the field to X means that the question is not applicable</td>
	            <td>NO</td>
	        </tr>
	        <tr>
	            <td>incidentList</td>
	            <td>String: Comma seperated string of the following ENUMS<br/>EVE_TEASING, VOYEURISM, ACID_VIOLENCE, STALKING, RAPE, DISROBING, DOMESTIC_VIOLENCE, MARITAL_RAPE, OTHER_INCIDENT<br/>Eg: EVE_TEASING, VOYEURISM</td>
	            <td>It indicates the type of incident that happended with the victim</td>
	            <td>YES</td>
	        </tr>
	        <tr>
	            <td>otherIncidence</td>
	            <td>String
	            <td>Description about the other incident that happend. This field is only set when OTHER_INCIDENT is passed in incidentList field</td>
	            <td>NO</td>
	        </tr>
	        <tr>
	            <td>location</td>
	            <td>String
	            <td>Location of the incident</td>
	            <td>YES</td>
	        </tr>
	        <tr>
	            <td>locationLat</td>
	            <td>String 
	            <td>Latitude of the location</td>
	            <td>YES</td>
	        </tr>
	        <tr>
	            <td>locationLng</td>
	            <td>String 
	            <td>Longitude of the location</td>
	            <td>YES</td>
	        </tr>
	        <tr>
	            <td>incidentDate</td>
	            <td>String: Format YYYY-MM-DD  <br/> Eg: 2013-02-13
	            <td>Date of the incident</td>
	            <td>YES</td>
	        </tr>
	        <tr>
	            <td>incidentTime</td>
	            <td>String: Format HH:MM  <br/> Eg: 12:23
	            <td>Time of the incident</td>
	            <td>YES</td>
	        </tr>
	        <tr>
	            <td>comments</td>
	            <td>String
	            <td>Provide additional miscellenous comments about the incident</td>
	            <td>NO</td>
	        </tr>
	        <tr>
	            <td>firstName</td>
	            <td>String
	            <td>First Name of the reportee</td>
	            <td>NO</td>
	        </tr>
	        <tr>
	            <td>lastName</td>
	            <td>String
	            <td>Last Name of the reportee</td>
	            <td>NO</td>
	        </tr>
	        <tr>
	            <td>email</td>
	            <td>String
	            <td>Email of the reportee</td>
	            <td>NO</td>
	        </tr>
	        <tr>
	            <td>number</td>
	            <td>String
	            <td>Phone number of the reportee</td>
	            <td>NO</td>
	        </tr>

    		</tbody>
			</table>
			<h1 class="lato-section-header">Sample Usage</h1>
			 Using cURL: curl -X POST http://54.186.110.31/submitReport --header "Content-Type:application/json" -d @sampleDataRequest.json 
			<br/>
			NOTE: sampleDataRequest.json can be found <a href="https://github.com/navina/avaaz/blob/master/public/sampleDataRequest.json">here</a>
			<br/>
			<br/>

			<a href="#viewReport"><h1 class="lato-section-header">Get Reported Incidents</h1></a>
			Returns the Latitude, Longitude and Category of all reported incidents
			<h1 class="lato-section-header">Request URL</h1>
			GET: <a href="http://54.186.110.31/viewReport">http://54.186.110.31/viewReport</a> <br/>
			<h1 class="lato-section-header">Request parameters</h1>
			Not Applicable
			<h1 class="lato-section-header">Response fields</h1>
			<table class="table table-striped table-bordered table-condensed">
 			<thead>
        	<tr>
	            <th>Field</th>
	            <th>Description</th> 
        	</tr>
    		</thead>
    		<tbody>
	        <tr>
	            <td>latitude</td>
	            <td>Latitude of the location</td>
	        </tr>
	        <tr>
	            <td>longitude</td>
	            <td>Longitude of the location</td>
	        </tr>
	        <tr>
	            <td>categories</td>
	            <td>category of the incident</td>
	        </tr>
	    	</table>
			<h1 class="lato-section-header">Sample Usage</h1>
			 Using cURL: curl http://54.186.110.31/viewReport 
			<h1 class="lato-section-header">Sample Response</h1>
			<code>
			  {
			    "latitude": "19.1171389",
			    "longitude": "72.846563",
			    "categories": "ACID_VIOLENCE"
			  },<br/>
			  {
			    "latitude": "19.05",
			    "longitude": "72.8333",
			    "categories": "EVE_TEASING,STALKING,RAPE"
			  }
			</code>
			<br/>
			<br/>
	    </div>
    </div>
  </div>
</div>     
      
