<div class="container-full">
  <div class="row text-center">
    <div class="col-lg-12">
    
        <h3 class="lato-section-header">Here at Team Zariya, we would love to hear back from you with any questions,comments and suggestions you have!</h3>

        <form class="form-horizontal">
        <div class="col-md-8 col-md-offset-2 row centered-form">

          <h4 class="lato-section-header">Please leave a message below: </h4>

          <div class="form-group">    
                  <label for="message" class="control-label col-xs-4">Message</label>
                  <div class="col-xs-5">
                    <textarea class="form-control" id="message" rows="6" placeholder="Enter a comment"></textarea>
                  </div>
          </div>

          <div class="form-group">

          <div class="col-xs-12">
          Please note that names and email addresses are kept private, and will be used only to reply to your message.
          </div>
          </div>

          <div class="form-group">
                  <label for="contact_name" class="control-label col-xs-4">Name</label>
                  <div class="col-xs-5">
                     <input type="text" class="form-control" id="contact_name" required placeholder="Please enter your name" />
                  </div>
          </div>

          <div class="form-group">
                  <label for="contact_email" class="control-label col-xs-4">Email</label>
                  <div class="col-xs-5">
                      <input type="email" class="form-control" id="contact_email" required placeholder="Please enter your email" />
                  </div>
          </div>

          

          <div class="form-group">
                  <div class="col-xs-12">
                      <button type="submit" class="btn btn-primary" onclick="submit_contact()">SUBMIT</button>
                  </div>
          </div>

        </div>
        </form>

          <div class="col-md-8 col-md-offset-2 paddingTop10">
            
            <h3 class="lato-section-header">Please contact us with any questions, comments and suggestions you have at</h3>
            
                
                <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<a href="mailto:#">zariya-help@zariya.org</a><br/>
                <span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;xxx-xxx-xxxx<br/>
                <span class="glyphicon glyphicon-thumbs-up"></span><a href="#"> Facebook Page</a>
        </div>
  	</div>
  </div>
</div>     
      
