<div id="feedback-link">
  <a class="btn btn-warning" role="button" href="" data-toggle="modal" data-target="#feedback">feedback</a>
</div>

<div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="feedbackModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Send us your Feedback!</h4>
      </div>
      <div class="modal-body">
        <p id="feedback-thankyou" class="hidden">Thank you for your valuable feedback!</p>
        <p id="feedback-error" class="hidden">There was an error submitting your feedback. Please contact us at ______@zariya.org</p>
        <form method="POST" id="feedback-form">
            <div class="form-group">
                <label class="sr-only" for="feedback-name">Name (Optional)</label>
                <input type="text" name="name" class="form-control" id="feedback-name" placeholder="Name (Optional)">
            </div>
            <div class="form-group">
                <label class="sr-only" for="feedback-email">Email Address (Optional)</label>
                <input type="email" name="email" class="form-control" id="feedback-email" placeholder="Email Address (Optional)">
            </div>
            <textarea name="message" id="feedback-message" class="form-control" rows="5" required placeholder="We'd love to hear your thoughts!"></textarea>
            <input type="submit" id="feedback-submit" class="hidden">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <label for="feedback-submit" class="btn btn-info pull-right">Submit</label>
      </div>
    </div>
  </div>
</div>