<div class="container">
  <div class="row text-center">
    <div class="col-md-12 text-center v-center">
      <form id="findHelpForm">
        <div class="input-group input-group-lg btn-block">
          <input class="form-control" placeholder="Enter your location" name="address" type="text">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">What help are you seeking?   <span class="caret"></span></button>
            <ul class="dropdown-menu btn-block findHelp-menu" role="menu">
              <li><a href="#">Legal</a></li>
              <li><a href="#">Counseling</a></li>
              <li><a href="#">Any</a></li>
            </ul>
            <input type="submit" value="Find" class="btn btn-lg btn-primary">
          </div>
        </div>
      </form>
    </div>
  </div> <!-- /row -->

  <div class="row" style="padding-top:50px">
    <div class="col-lg-12 text-center v-center">
	    <div class="input-group" style="text-align:center;margin:0 auto;">
  			<div id="map-canvas" style="width:500px;height:380px;"></div>
    	</div>	
  	</div>
	</div>
</div>