<footer>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled">
                    <li><a href="/aboutUs">About</a></li>
                    <li>Team</li>
                    <li><a href="/contactUs">Contact</a></li>
                    <li>Privacy</li>
                    <li>Terms of Use</li>
                    <li class="pull-right">© 2015 Zariya</li>
                </ul>
            </div>
        </div>
    </div>
</footer>