

<div class="jumbotron home-banner">
  <div class="container" >

  	<div class="row">

    	<div class="col-lg-12 text-center v-center" style="font-family:Lato;font-weight:300;">
    	  
    	  <h1 style="lato-section-header">Seek Justice</h1>
    	  <p class="lead">
    	  	Report violence against women anonymously and get <br /> connected with a service professional to pave your way to justice.
    	  </p>
        <a class="btn btn-success" href="/submitReport" role="button">Report Now</a>

    	</div>      
  	</div> <!-- /row -->
  </div>
  <div class="container down-arrow text-center">
    <i class="fa fa-angle-down fa-5x bounce"></i>
  </div>
</div>

<div>
  <div class="container" style="font-family:Lato;">
    
    <div class="row benefits">
      <div class="col-md-4 text-center">
          <a href="/submitReport"><img src="/images/report.png" height="180" width="180"/></a>  
          <div class="justified lead paddingTop10">
            <p>Report anonymously and safely an incident of violence against women. Take the first step to exercise your rights
            </p>
          </div>  
      </div>
     
      <div class="col-md-4  text-center">
          <a href="/connect"><img src="/images/connect.png" height="180" width="180"/></a>  
          <div class="justified lead paddingTop10">
            <p>Get a quick first-instance connection to a service provider who can guide you. You can connect with a legal expert, women’s bank representative, psychologist, medical practitioner or Indian Police Service’s women’s units. 
            </p>
          </div>  
      </div> <!-- /.benefit -->

      <div class="col-md-4 text-center">
          <a href="/track"><img src="/images/track.png" height="180" width="180"/></a>  
          <div class="justified lead paddingTop10">
            <p>Zariya facilitates the transparency and accountability needed to challenge social stigma and corruption. We aim to expedite women’s justice processes. Here, you can track whether or not your needs are met. You will have to create an account for your record and case details to be maintained.
            </p>
          </div>  
      </div> <!-- /.benefit -->
    </div> <!-- /.row --> 
  </div> <!-- /.container -->
</div>