


<div style="background:#FFEDA3">
<div class="container-full" >

	<div class="row">

	<div class="col-lg-12 text-center v-center" style="font-family:Lato;font-weight:300;">
	  
	  <h1 style="font-family:'EB Garamond',serif;font-weight:300;font-size:80px">aavaaz </h1><h1 style="font-family:Lato;font-weight:300;">Indian Legal Information Network</h1>
	  <p class="lead">
	  	This text is just a place holder till we get something
	  	<br/>
	  	Dont worry, we are going to fill this place up, this is just a placeholder<br/>
	  	Nam liber tempor cum soluta nobis eleifend option congue nihil<br/>
              imperdiet doming id quod mazim placerat facer possim assum. Typi non<br/>
              habent claritatem insitam; est usus legentis in iis qui facit eorum<br/>
              claritatem. Investigationes demonstraverunt lectores legere me lius<br/>
              quod ii legunt saepius.<br/>
	  </p>

	</div>      
	</div> <!-- /row -->
</div>
</div>

<div style="background:#FFF;font-family:Lato;">
<div class="container">
      <h2 id="features"  class="subhead" style="font-family:Lato;font-weight:500;">Things you can do</h2>
      <div class="row benefits">
        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-edit"></span>
          </div>
          <h3 style="font-family:Lato;font-weight:400;"><a href="/submitReport">Report a crime</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
        </div> <!-- /.benefit -->

        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-map-marker"></span>
          </div>
          <h3 style="font-family:Lato;font-weight:400;"><a href="/viewMap">View Reports</a></h3>
          <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div> <!-- /.benefit -->

        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-phone-alt"></span>
          </div>
          <h3 style="font-family:Lato;font-weight:400;"><a href="/legalAdvise">Legal Advise</a></h3>
          <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.</p>
        </div> <!-- /.benefit -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
</div>
</div>
