


<div style="background:#FFEDA3">
<div class="container-full" >

	<div class="row">

	<div class="col-lg-12 text-center v-center" style="font-family:Lato;font-weight:300;">
	  
	  <h1 style="font-family:'EB Garamond',serif;font-weight:300;font-size:80px">Chhaya </h1><h1 style="font-family:Lato;font-weight:300;">Placeholder for tag line</h1>
	  <p class="lead">
	  	Chhaya makes justice actionable and accessible to women facing gender-based violence.<br/> 
      By providing a risk-free way for women to voice their experiences, <br/>
      Chhaya paves women’s paths from feeling like victims to being survivors with a right and will to justice.<br/>
	  	
	  </p>

	</div>      
	</div> <!-- /row -->
</div>
</div>

<div style="background:#FFF;font-family:Lato;">
<div class="container">
      <h2 id="features"  class="subhead" style="font-family:Lato;font-weight:500;">Things you can do</h2>
      <div class="row benefits">
        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-edit"></span>
          </div>
          <h3 style="font-family:Lato;font-weight:400;"><a href="/submitReport">Report a crime</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
        </div> <!-- /.benefit -->

        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-map-marker"></span>
          </div>
          <h3 style="font-family:Lato;font-weight:400;"><a href="/viewMap">View Reports</a></h3>
          <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div> <!-- /.benefit -->

        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-phone-alt"></span>
          </div>
          <h3 style="font-family:Lato;font-weight:400;"><a href="/legalAdvise">Legal Advise</a></h3>
          <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.</p>
        </div> <!-- /.benefit -->
      </div> <!-- /.row -->
      <div class="row benefits">
        
      </div>  
    </div> <!-- /.container -->
</div>
</div>
