<div class="container-full">
  <div class="row">
    <div class="col-lg-12 text-center v-center">
      <h1>Info</h1>
      <div class="col-md-8 col-md-offset-2 justified">
      Once you have submitted your report, you will receive a confirmation SMS/email that also informs you of enforcement organs and care providers within your vicinity. Enforcement organs: police stations and courts. Care providers: rape crisis intervention centers, counselors and socio-legal information centers.<br/><br/>

Zariya also provides a direct channel of communication with legal information. You can access legal information before or after you have submitted a report with Zariya. 
	</div>
    </div>
  </div>
</div>     
      
