doctype html
html
  head
    title= title
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/smoothscroll.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/chaya.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/simple_bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/lighter.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,400,900')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=EB+Garamond:300,400,900')
    
    
  body
    include navbar.html
    block content