<div class="nav navbar navbar-default navbar-fixed-top">
  <div class="row text-center navbar-header">
    <a href="/home" class="nav-link">Zariya</a>
  </div>  
  <div class="row text-center">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav-new">
        <li><a href="/home" class="nav-link">Home</a></li>
        <li><a href="/viewMap" class="nav-link">View Reports</a></li>
        <li><a href="/aboutUs" class="nav-link">About Us</a></li>
        <li><a href="/contactUs">Contact Us</a></li>
        <li> <a title="Drag and drop to your bookmarks bar and/or click to post a question or view answers" href="javascript:(function(){ window.dookuKeywords = ['Women Welfare','Women Safety','Justice with Zariya']; if(window.myBookmarklet!==undefined){ myBookmarklet(); } else{ var Pageprotocol=window.location.protocol; var hudookuUrl=Pageprotocol+'//www.hudooku.com'; document.body.appendChild(document.createElement('script')).src=hudookuUrl+'/Hudooku/js/dooku/dookuBookmarlet.js?';}})()"><img src="http://www.hudooku.com/Hudooku/images/dooku-circle-30-30.png" alt="dooku" border="0"></img></a></li>

      </ul>
    </div> <!-- /.navbar-collapse -->  
  </div>  
</div>
