<div class="nav navbar navbar-default navbar-fixed-top">
  <div class="row text-center navbar-header">
    <a href="/home" class="nav-link">Zariya</a>
  </div>  
  <div class="row text-center">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav-new">
        <li><a href="/home" class="nav-link">Home</a></li>
        <li><a href="/viewMap" class="nav-link">View Reports</a></li>
        <li><a href="/aboutUs" class="nav-link">About Us</a></li>
        <li><a href="/contactUs">Contact Us</a></li>
      </ul>
    </div> <!-- /.navbar-collapse -->  
  </div>  
</div>
