<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      
      <a class="navbar-brand nav-link" href="/home">Aavaaz</a>
    </div> <!-- /.navbar-header -->

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/home" class="nav-link">Home</a></li>
        <li><a href="/submitReport" class="nav-link">Report a crime</a></li>
        <li><a href="/viewMap" class="nav-link">View Reports</a></li>
        <li><a href="/legalAdvise" class="nav-link">Legal Advise</a></li>
        <li><a href="/aboutUs" class="nav-link">About</a></li>
        <li><a href="/contactUs">Contact Us</a></li>
      </ul>
    </div> <!-- /.navbar-collapse -->
  </div> <!-- /.container -->
</nav> <!-- /.navbar -->