<div style="padding-top:20px">
<div class="container-full col-xs-offset-2 col-xs-8">
	<div class="row centered-form">
	<div class="panel panel-default">
		<div class="panel-heading">
    		<h3 class="panel-title">Submit A New Report</h3>
		</div>
		<div class="panel-body">
			<form class="form-horizontal">
			    <div class="form-group">
					<label for="whatIncidentToReport" class="control-label col-xs-4">What incident would you like to report?<br/></label>
					<div class="col-xs-5">
						<em>Check all the applicable boxes:</em>
						<br/>
						<input type="checkbox" name="incident" value="Eve Teasing"> Eve Teasing<br>
						<input type="checkbox" name="incident" value="Voyeurism"> Voyeurism<br>
						<input type="checkbox" name="incident" value="Acid Violence"> Acid Violence<br>
						<input type="checkbox" name="incident" value="Stalking"> Stalking<br>
						<input type="checkbox" name="incident" value="Rape"> Rape<br>
						<input type="checkbox" name="incident" value="Disrobing"> Disrobing<br>
						<input type="checkbox" name="incident" value="Domestic Violence"> Domestic Violence<br>
						<input type="checkbox" name="incident" value="Marital Rape"> Marital Rape<br>
						<input type="checkbox" name="incident" value="Other"> Other<br>
			        </div>

			        <br/>
			        <br/>
			        <br/>
			    </div>
			    <div class="form-group">    
			        <label for="whoIsReporting" class="control-label col-xs-4">Who is reporting the incident ?<br/></label>
					<div class="col-xs-5">
						<input type="radio" name="person" value="Survivor"> Survivor<br>
						<input type="radio" name="person" value="Friend"> Friend of survivor<br>
						<input type="radio" name="person" value="Relative"> Relative of survivor<br>
			        </div>
			    </div>	
			    <div class="form-group">    
			        <label for="whoIsReporting" class="control-label col-xs-4">Do you know the assailant?<br/></label>
					<div class="col-xs-5">
						<input type="radio" name="assailant" value="Y"> Yes<br>
						<input type="radio" name="assailant" value="N"> No<br>
			        </div>
			    </div>
			    <div class="form-group">    
			        <label for="whoIsReporting" class="control-label col-xs-4">Is this the first time you are facing this crime?<br/></label>
					<div class="col-xs-5">
						<input type="radio" name="time" value="Y"> Yes<br>
						<input type="radio" name="time" value="N"> No<br>
			        </div>
			    </div>
			    <div class="form-group">
			        <label for="firstName" class="control-label col-xs-4">First Name</label>
			        <div class="col-xs-5">
			            <input type="text" class="form-control" id="firstName" placeholder="First Name (Optional)">
			        </div>
			    </div>
			    <div class="form-group">
			        <label for="lastName" class="control-label col-xs-4">Last Name</label>
			        <div class="col-xs-5">
			            <input type="text" class="form-control" id="lastName" placeholder="Last Name (Optional)">
			        </div>
			    </div>
			    <div class="form-group">
			        <label for="email" class="control-label col-xs-4">Email</label>
			        <div class="col-xs-5">
			            <input type="email" class="form-control" id="email" placeholder="Email (Optional)">
			        </div>
			    </div>
			    <div class="form-group">
			        <div class="col-xs-offset-4 col-xs-10">
			            <button type="submit" class="btn btn-primary">Submit</button>
			        </div>
			    </div>
			</form>
		</div>
	</div>
	</div>		
</div>
</div>