<div style="padding-top:20px">
<div class="container-full col-xs-offset-2 col-xs-8">
	<div class="row text-center">

	<h4>
	  	Zariya makes justice actionable and accessible to women facing gender-based violence.<br/> 
      By providing a risk-free way for women to voice their experiences, <br/>
      Zariya paves women’s paths from feeling like victims to being survivors with a right and will to justice.<br/>
	  </h4>
	<div class="col-md-12 justified">
		In India, for each reported rape, 30 go unreported. Women avoid reporting out of fear of dishonor or lack of access to police stations and courts. They may not want to show their face and disclose their identity to unsympathetic listeners. For Zariya, protecting a woman’s identity is paramount. Anonymity is maintained until and unless a woman chooses to speak with a care provider. Even at that stage, the woman’s identity will only be known internally and managed confidentially. <br/><br/>

By sharing your story with Zariya, you can help us bridge the gap between reported statistics and unreported realities. You can submit a report online or via SMS to the xxx-xxx-xxxx. 
	</div>
	</div>  

	<div class="row centered-form paddingTop10">
	<div class="panel panel-default">
		<div class="panel-heading">
    		<h3 class="panel-title">Submit A New Report</h3>
		</div>
		<div class="panel-body">
			<form class="form-horizontal">
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          						Person
        						</a>
      						</h4>
    					</div>
    					<div id="collapseOne" class="panel-collapse collapse in">
      						<div class="panel-body">
      							<div class="form-group">    
			        				<label for="whoIsReporting" class="control-label col-xs-4">Who is reporting the incident ?<br/></label>
									<div class="col-xs-5">
										<input type="radio" name="person" value="Survivor" onclick="first_time_display()"> Survivor<br>
										<input type="radio" name="person" value="Friend_of_survivor" onclick="first_time_display()"> Friend of survivor<br>
										<input type="radio" name="person" value="Relative_of_survivor" onclick="first_time_display()"> Relative of survivor<br>
										<input type="radio" name="person" value="Not_related" onclick="first_time_display()"> Stranger<br>
			        				</div>
			        			</div>	
			        			 <div class="form-group">
			        				
			        				<label for="whoIsReporting" class="control-label col-xs-4">Do you know the assailant?<br/></label>
									<div class="col-xs-5">
										<input type="radio" name="assailant" value="Yes"> Yes<br>
										<input type="radio" name="assailant" value="No"> No<br>
			        				</div>
			        			</div>
			        			 <div class="form-group" id="first_time">	
			        				 <label for="whoIsReporting" class="control-label col-xs-4">Is this the first time you are facing this crime?<br/></label>
									<div class="col-xs-5">
										<input type="radio" name="time" value="Y"> Yes<br>
										<input type="radio" name="time" value="N"> No<br>
			        				</div>
			    				</div>
			    				<div class="form-group">
			    					<div class="col-xs-5" style="width: 60px;">
			    						<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        								NEXT &nbsp;<span class="glyphicon glyphicon-circle-arrow-down">
        									
        								</span>
        								</button>
     								</div>
			    				</div>
      						</div>
    					</div>
  					</div>
  					
  					<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          						Incident
        						</a>
      						</h4>
    					</div>
    					<div id="collapseTwo" class="panel-collapse collapse">
      						<div class="panel-body">
      							<div class="form-group">
			        				<div class="col-xs-5" style="width: 120px; float: right; position:relative;">
			        					<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        								PREVIOUS  &nbsp;<span class="glyphicon glyphicon-circle-arrow-up">
        									
        								</span>
        								</button>	
			        				</div>
			    				</div>
      							<div class="form-group">
									<label for="whatIncidentToReport" class="control-label col-xs-4">What incident would you like to report?<br/></label>
										<div class="col-xs-5">
											<em>Check all the applicable boxes:</em>
											<br/>
											<input type="checkbox" class="incident" name="incident" value="Eve Teasing"> Eve Teasing<br>
											<input type="checkbox" class="incident" name="incident" value="Voyeurism"> Voyeurism<br>
											<input type="checkbox" class="incident" name="incident" value="Acid Violence"> Acid Violence<br>
											<input type="checkbox" class="incident" name="incident" value="Stalking"> Stalking<br>
											<input type="checkbox" class="incident" name="incident" value="Rape"> Rape<br>
											<input type="checkbox" class="incident" name="incident" value="Disrobing"> Disrobing<br>
											<input type="checkbox" class="incident" name="incident" value="Domestic Violence"> Domestic Violence<br>
											<input type="checkbox" class="incident" name="incident" value="Marital Rape"> Marital Rape<br>
											<input type="checkbox" class="incident" name="incident" id="other_incident" value="Other"> Other<br>
			        					</div>
			        			</div>
			        			<div class="form-group" id="other_div">
			    					<label for="other" class="control-label col-xs-4">Any other type of Incident</label>
			        				<div class="col-xs-5">
			            				<input type="text" class="form-control" id="other" placeholder="Enter the incident">
			        				</div>
			    				</div>
			    				<div class="form-group">
			    					<div class="col-xs-5" style="width: 60px;">
			    						<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
        								NEXT  &nbsp;<span class="glyphicon glyphicon-circle-arrow-down">
        									
        								</span>
        								</button>
        							</div>
			    				</div>
      						</div>
    					</div>
  					</div>
  					
					<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          						Location
        						</a>
      						</h4>
    					</div>
    					<div id="collapseThree" class="panel-collapse collapse">
      						<div class="panel-body">
      							<div class="form-group">
			        				<div class="col-xs-5" style="width: 120px; float: right; position:relative;">
			        					<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        								PREVIOUS  &nbsp;<span class="glyphicon glyphicon-circle-arrow-up">
        									
        								</span>
        								</button>	
			        				</div>
			    				</div>
			    				<!-- Javascript for loading maps and dropping a pin-->
			    				<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
				   				<script>
									var map;
									function initialize() {
									  var mapOptions = {
									    zoom: 4,
									    center: new google.maps.LatLng(21.1458004, 79.0881546)
									  };
									  map = new google.maps.Map(document.getElementById('map-canvas'),
									      mapOptions);
									}
									google.maps.event.addDomListener(window, 'load', initialize);
				    			</script>

			    				<script>

									function onClickButton(){
										getGoogleMapApiEndpoint(document.getElementById('location').value);
										document.getElementById('map-canvas').style.display = 'block';

									}

									function getGoogleMapApiEndpoint(address) {
									    var x = "https://maps.googleapis.com/maps/api/geocode/json?sensor=true&key=AIzaSyCSlmQ6fLKvbnU8u-H_Sg6qaRxEX_55nOg&address="+encodeURIComponent(address);
									    
									    $.ajax({url:x,success:function(result){
									      var cooridnateObject = result.results[0].geometry.location
									      var myLatlng = new google.maps.LatLng(cooridnateObject.lat,cooridnateObject.lng);
									      dropPin(cooridnateObject)
									    }});

									}

									function dropPin(cooridnateObject) {
									  var myLatlng = cooridnateObject;
									  var mapOptions = {
									    zoom: 12,
									    center: myLatlng
									  }
									  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

									  var marker = new google.maps.Marker({
									      position: myLatlng,
									      map: map,
									      title: 'Sample Pin'
									  });
									  document.getElementById("locationLat").value = myLatlng.lat;
									  document.getElementById("locationLng").value = myLatlng.lng;
									  console.log(document.getElementById("locationLat").value);
									  console.log(document.getElementById("locationLng").value);

									}
									

								</script>
      							<div class="form-group">
      								<label for="location" class="control-label col-xs-4">Location</label>
      								<div class="col-xs-5">
			            					<input type="text" class="form-control" name="location" id="location" placeholder="Enter your location" />
			        					</div>
			        					
									<button type="button" class="btn btn-success" onclick="onClickButton()">Go</button>
			    				</div>
			    				<div class="col-lg-12 text-center v-center">
							      	<div class="input-group" style="text-align:center;margin:0 auto;padding-bottom:10px">
					    				<div id="map-canvas" style="width:500px;height:380px;display:none"></div>
					        		</div>	
  								</div>
  								<input type="hidden" id="locationLat" />
  								<input type="hidden" id="locationLng" />
			    				
			    				<div class="form-group">
			    					<label for="time" class="control-label col-xs-4">Time of incident</label>
			        					<div class="col-xs-5">
			            					<input type="time" class="form-control" id="time" />
			        					</div>
			    				</div>
			    				
			    				<div class="form-group">
			    					<label for="date" class="control-label col-xs-4">Date of incident</label>
			        					<div class="col-xs-5">
			            					<input type="text" class="form-control" id="date" />
			        					</div>
			        			</div>
			        			<div class="form-group">
			        				<div class="col-xs-5" style="width: 60px;">
			        					<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
        								NEXT  &nbsp;<span class="glyphicon glyphicon-circle-arrow-down">
        									
        								</span>
        								</button>	
			        				</div>
			    				</div> 		
      						</div>
    					</div>
  					</div>
  					
  					<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          						Information
        						</a>
      						</h4>
    					</div>
    					<div id="collapseFour" class="panel-collapse collapse">
      						<div class="panel-body">
      							<div class="form-group">
			        				<div class="col-xs-5" style="width: 120px; float: right; position:relative;">
			        					<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
        								PREVIOUS  &nbsp;<span class="glyphicon glyphicon-circle-arrow-up">
        									
        								</span>
        								</button>	
			        				</div>
			    				</div>
								<div class="form-group">
			    					<label for="info" class="control-label col-xs-4">Information/Desciption</label>
			        				<div class="col-xs-5">
			            				<textarea class="form-control" id="additional_info" rows="6" placeholder="Enter a short description (Optional)"></textarea>
			        				</div>
			    				</div>
			    				
			    				<div class="form-group">
    								<label for="media" class="control-label col-xs-4">File input</label>
    								<div class="col-xs-5">
    									<input type="file" id="media" class="form-control" />
    								</div>
    								<p class="help-block">Attach any image,audio or video files</p>
    							</div>
    							
    							<div class="form-group">
			        				<div class="col-xs-5" style="width: 60px;">
			        					<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
        								NEXT  &nbsp;<span class="glyphicon glyphicon-circle-arrow-down">
        									
        								</span>
        								</button>
  									</div>
      							</div>	
							</div>
      					</div>
      				</div>
  					
  					<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          						Submit
        						</a>
      						</h4>
    					</div>
    					<div id="collapseFive" class="panel-collapse collapse">
      						<div class="panel-body">
      							<div class="form-group">
			        				<div class="col-xs-5" style="width: 120px; float: right; position:relative;">
			        					<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
        								PREVIOUS  &nbsp;<span class="glyphicon glyphicon-circle-arrow-up">
        									
        								</span>
        								</button>	
			        				</div>
			    				</div>
      							<div class="form-group">    
			       					 <label for="firstName" class="control-label col-xs-4">First Name</label>
			        				<div class="col-xs-5">
			            				<input type="text" class="form-control" id="firstName" placeholder="First Name (Optional)">
			        				</div>
			    				</div>
			    				<div class="form-group">
			        				<label for="lastName" class="control-label col-xs-4">Last Name</label>
			        				<div class="col-xs-5">
			            				<input type="text" class="form-control" id="lastName" placeholder="Last Name (Optional)">
			        				</div>
			    				</div>
			    				<div class="form-group">
			        				<label for="email" class="control-label col-xs-4">Email</label>
			        					<div class="col-xs-5">
			            					<input type="email" class="form-control" id="email" placeholder="Email (Optional)">
			        					</div>
			    				</div>
			    				<div class="form-group">
			        				<label for="number" class="control-label col-xs-4">Phone number</label>
			        					<div class="col-xs-5">
			            					<input type="number" class="form-control" id="number" placeholder="Phone number (Optional)">
			        					</div>
			    				</div>
			    				
			    				<div class="form-group">
			        				<div class="col-xs-offset-4 col-xs-10">
			            				<button type="submit" class="btn btn-primary" onclick="onSubmitClick()">Submit</button>
			       					</div>
			    				</div>
							</div>
      						</div>
    					</div>
			   </div>
  				
			</form>
			
		</div>
	</div>
	</div>		
</div>
</div>