body {
  padding-top: 80px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-group
{
	padding-bottom: 10px !important;
	margin-bottom: 10px !important;
}

.required_field
{
	color:red;
	font-weight: bold;
}
